## 데이터 로드

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_name = "etf_2021-10-31_raw.csv"

In [8]:
df = pd.read_csv(file_name, dtype={"itemcode": np.object})
df.shape

(520, 12)

In [9]:
df.head()

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734
1,153130,6,KODEX 단기채권,102925,5,-20,-0.02,102930.0,0.0729,15868,1633,23327
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892
4,102110,1,TIGER 200,38885,5,-605,-1.53,38894.0,-9.3315,570595,22270,20920

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   itemcode            520 non-null    object
 1   etfTabCode          520 non-null    int64
 2   itemname            520 non-null    object
 3   nowVal              520 non-null    int64
 4   risefall            520 non-null    int64
 5   changeVal           520 non-null    int64
 6   changeRate          520 non-null    float64
 7   nav                 369 non-null    float64
 8   threeMonthEarnRate  486 non-null    float64
 9   quant               520 non-null    int64
 10  amonut              520 non-null    int64
 11  marketSum           520 non-null    int64
dtypes: float64(3), int64(7), object(2)
memory usage: 48.9+ KB

In [13]:
df.sort_values("quant", ascending=False).head(10)

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545
31,251340,3,KODEX 코스닥150선물인버스,4345,2,40,0.93,4353.0,0.3464,34317740,148304,4797
15,114800,3,KODEX 인버스,4125,2,70,1.73,4128.0,9.8535,28780396,117584,11620
7,122630,3,KODEX 레버리지,22935,5,-740,-3.13,22937.0,-18.2936,24310507,566235,16559
22,233740,1,KODEX 코스닥150 레버리지,14790,5,-325,-2.15,14964.0,-5.4348,6787784,101675,7380
86,252710,3,TIGER 200선물인버스2X,2390,2,70,3.02,2401.0,19.7994,6650257,15675,1350
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734
5,214980,6,KODEX 단기채권PLUS,103210,5,-15,-0.01,103216.0,0.0630,2881635,297429,19604
84,400970,2,TIGER Fn메타버스,11715,2,20,0.17,11718.0,NaN,2360181,27594,1371

In [16]:
# etfTabCode column의 데이터 구성을 살펴보면
# 전체(0), 국내 시장지수(1), 국내 업종/테마(2), 국내 파생(3) ~
# 해외 주식(4), 원자재(5), 채권(6), 기타(7)로 자료가 구분
# index 순서로 정렬
df["etfTabCode"].value_counts().sort_index()

1     67
2    197
3     31
4    120
5     14
6     60
7     31
Name: etfTabCode, dtype: int64

## 데이터 전처리

### etfTabName 만들기

In [21]:
etfcode = '''전체
국내 시장지수
국내 업종/테마
국내 파생
해외 주식
원자재
채권
기타'''
etfcode

'전체\n국내 시장지수\n국내 업종/테마\n국내 파생\n해외 주식\n원자재\n채권\n기타'

In [24]:
etf_tab_name = etfcode.split('\n')

In [25]:
etf_tab_name

['전체', '국내 시장지수', '국내 업종/테마', '국내 파생', '해외 주식', '원자재', '채권', '기타']

In [26]:
def find_etf_tab_name(no):
    return etf_tab_name[no]

find_etf_tab_name(2)

'국내 업종/테마'

In [32]:
df["etfTabName"] = df["etfTabCode"].map(lambda x: etf_tab_name[x])

In [33]:
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum,etfTabName
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734,국내 시장지수
1,153130,6,KODEX 단기채권,102925,5,-20,-0.02,102930.0,0.0729,15868,1633,23327,채권
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545,국내 파생
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892,해외 주식
4,102110,1,TIGER 200,38885,5,-605,-1.53,38894.0,-9.3315,570595,22270,20920,국내 시장지수
...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,397420,6,KBSTAR 국채선물5년추종,48460,5,-290,-0.59,48448.0,NaN,14,0,23,채권
516,334700,5,KBSTAR 팔라듐선물인버스(H),5560,5,-50,-0.89,NaN,23.5555,497,2,22,원자재
517,287330,2,KBSTAR 200생활소비재,7945,5,-75,-0.94,7940.0,-10.3779,798,6,19,국내 업종/테마
518,287310,2,KBSTAR 200경기소비재,11090,5,-165,-1.47,11089.0,-6.9631,615,6,16,국내 업종/테마
519,287320,2,KBSTAR 200산업재,11145,5,-150,-1.33,11124.0,-16.2031,88,0,13,국내 업종/테마

In [44]:
df.loc[df["etfTabCode"] == 2, ["itemname","etfTabName"]].head()

        itemname etfTabName
6     KODEX 삼성그룹   국내 업종/테마
11   TIGER TOP10   국내 업종/테마
12  TIGER 2차전지테마   국내 업종/테마
14  KODEX 2차전지산업   국내 업종/테마
19  TIGER 200 IT   국내 업종/테마

### 컬럼명 변경

In [45]:
df

,itemcode,etfTabCode,itemname,nowVal,risefall,changeVal,changeRate,nav,threeMonthEarnRate,quant,amonut,marketSum,etfTabName
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734,국내 시장지수
1,153130,6,KODEX 단기채권,102925,5,-20,-0.02,102930.0,0.0729,15868,1633,23327,채권
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545,국내 파생
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892,해외 주식
4,102110,1,TIGER 200,38885,5,-605,-1.53,38894.0,-9.3315,570595,22270,20920,국내 시장지수
...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,397420,6,KBSTAR 국채선물5년추종,48460,5,-290,-0.59,48448.0,NaN,14,0,23,채권
516,334700,5,KBSTAR 팔라듐선물인버스(H),5560,5,-50,-0.89,NaN,23.5555,497,2,22,원자재
517,287330,2,KBSTAR 200생활소비재,7945,5,-75,-0.94,7940.0,-10.3779,798,6,19,국내 업종/테마
518,287310,2,KBSTAR 200경기소비재,11090,5,-165,-1.47,11089.0,-6.9631,615,6,16,국내 업종/테마
519,287320,2,KBSTAR 200산업재,11145,5,-150,-1.33,11124.0,-16.2031,88,0,13,국내 업종/테마

In [63]:
col_name = """종목코드
탭코드
종목명
현재가
등락구분
전일비
등락률
순자산가치(NAV)
3개월수익률
거래량
거래대금(백만)
시가총액(억)
유형"""

In [64]:
col_name = col_name.split('\n')

In [67]:
col_name

['종목코드',
 '탭코드',
 '종목명',
 '현재가',
 '등락구분',
 '전일비',
 '등락률',
 '순자산가치(NAV)',
 '3개월수익률',
 '거래량',
 '거래대금(백만)',
 '시가총액(억)',
 '유형']

In [66]:
cols = df.columns.tolist()
cols

['itemcode',
 'etfTabCode',
 'itemname',
 'nowVal',
 'risefall',
 'changeVal',
 'changeRate',
 'nav',
 'threeMonthEarnRate',
 'quant',
 'amonut',
 'marketSum',
 'etfTabName']

In [69]:
# 확인용
dict(zip(cols, col_name))

{'itemcode': '종목코드',
 'etfTabCode': '탭코드',
 'itemname': '종목명',
 'nowVal': '현재가',
 'risefall': '등락구분',
 'changeVal': '전일비',
 'changeRate': '등락률',
 'nav': '순자산가치(NAV)',
 'threeMonthEarnRate': '3개월수익률',
 'quant': '거래량',
 'amonut': '거래대금(백만)',
 'marketSum': '시가총액(억)',
 'etfTabName': '유형'}

In [68]:
df.columns = col_name
df

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734,국내 시장지수
1,153130,6,KODEX 단기채권,102925,5,-20,-0.02,102930.0,0.0729,15868,1633,23327,채권
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545,국내 파생
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892,해외 주식
4,102110,1,TIGER 200,38885,5,-605,-1.53,38894.0,-9.3315,570595,22270,20920,국내 시장지수
...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,397420,6,KBSTAR 국채선물5년추종,48460,5,-290,-0.59,48448.0,NaN,14,0,23,채권
516,334700,5,KBSTAR 팔라듐선물인버스(H),5560,5,-50,-0.89,NaN,23.5555,497,2,22,원자재
517,287330,2,KBSTAR 200생활소비재,7945,5,-75,-0.94,7940.0,-10.3779,798,6,19,국내 업종/테마
518,287310,2,KBSTAR 200경기소비재,11090,5,-165,-1.47,11089.0,-6.9631,615,6,16,국내 업종/테마
519,287320,2,KBSTAR 200산업재,11145,5,-150,-1.33,11124.0,-16.2031,88,0,13,국내 업종/테마

### 파생변수 만들기

In [94]:
df["브랜드"] = df["종목명"].str.split(" ", expand=True)[0]
df[["종목명","브랜드"]].head()

                     종목명    브랜드
0              KODEX 200  KODEX
1             KODEX 단기채권  KODEX
2       KODEX 200선물인버스2X  KODEX
3  TIGER 차이나전기차SOLACTIVE  TIGER
4              TIGER 200  TIGER

In [95]:
df["브랜드"].unique()

array(['KODEX', 'TIGER', 'KBSTAR', 'ARIRANG', 'KINDEX', 'HANARO', 'KOSEF',
       'SOL', 'TIMEFOLIO', '네비게이터', '파워', 'KTOP', 'FOCUS', '마이다스', 'TREX',
       '마이티', 'HK'], dtype=object)

In [108]:
df["인버스"] = df["종목명"].str.contains("인버스")

In [109]:
df['인버스'].value_counts()

False    478
True      42
Name: 인버스, dtype: int64

In [112]:
df["레버리지"] = df["종목명"].str.contains("레버")
df['레버리지'].value_counts(normalize=True) * 100

False    93.653846
True      6.346154
Name: 레버리지, dtype: float64

In [116]:
df["환헤지H"] = df["종목명"].str.endswith("H)")
df[["종목명", "환헤지H"]].tail(5)

                    종목명   환헤지H
515     KBSTAR 국채선물5년추종  False
516  KBSTAR 팔라듐선물인버스(H)   True
517     KBSTAR 200생활소비재  False
518     KBSTAR 200경기소비재  False
519       KBSTAR 200산업재  False

In [118]:
df["등락구분"].value_counts()

5    368
2    131
3     21
Name: 등락구분, dtype: int64

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520 entries, 0 to 519
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   종목코드        520 non-null    object
 1   탭코드         520 non-null    int64
 2   종목명         520 non-null    object
 3   현재가         520 non-null    int64
 4   등락구분        520 non-null    int64
 5   전일비         520 non-null    int64
 6   등락률         520 non-null    float64
 7   순자산가치(NAV)  369 non-null    float64
 8   3개월수익률      486 non-null    float64
 9   거래량         520 non-null    int64
 10  거래대금(백만)    520 non-null    int64
 11  시가총액(억)     520 non-null    int64
 12  유형          520 non-null    object
 13  브랜드         520 non-null    object
 14  인버스         520 non-null    bool
 15  레버리지        520 non-null    bool
 16  환헤지H        520 non-null    bool
dtypes: bool(3), float64(3), int64(7), object(4)
memory usage: 58.5+ KB

## 파일로 저장하기

In [122]:
save_file_name = file_name.replace("_raw", "")

In [128]:
df.to_csv(save_file_name, index=False)

In [129]:
pd.read_csv(save_file_name, dtype={"종목코드": np.object})

,종목코드,탭코드,종목명,현재가,등락구분,전일비,등락률,순자산가치(NAV),3개월수익률,거래량,거래대금(백만),시가총액(억),유형,브랜드,인버스,레버리지,환헤지H
0,069500,1,KODEX 200,38825,5,-635,-1.61,38876.0,-9.5368,3408700,133339,53734,국내 시장지수,KODEX,False,False,False
1,153130,6,KODEX 단기채권,102925,5,-20,-0.02,102930.0,0.0729,15868,1633,23327,채권,KODEX,False,False,False
2,252670,3,KODEX 200선물인버스2X,2300,2,70,3.14,2308.0,19.7916,178898061,404392,22545,국내 파생,KODEX,True,False,False
3,371460,4,TIGER 차이나전기차SOLACTIVE,19470,2,130,0.67,NaN,17.3598,6445462,124347,21892,해외 주식,TIGER,False,False,False
4,102110,1,TIGER 200,38885,5,-605,-1.53,38894.0,-9.3315,570595,22270,20920,국내 시장지수,TIGER,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515,397420,6,KBSTAR 국채선물5년추종,48460,5,-290,-0.59,48448.0,NaN,14,0,23,채권,KBSTAR,False,False,False
516,334700,5,KBSTAR 팔라듐선물인버스(H),5560,5,-50,-0.89,NaN,23.5555,497,2,22,원자재,KBSTAR,True,False,True
517,287330,2,KBSTAR 200생활소비재,7945,5,-75,-0.94,7940.0,-10.3779,798,6,19,국내 업종/테마,KBSTAR,False,False,False
518,287310,2,KBSTAR 200경기소비재,11090,5,-165,-1.47,11089.0,-6.9631,615,6,16,국내 업종/테마,KBSTAR,False,False,False
519,287320,2,KBSTAR 200산업재,11145,5,-150,-1.33,11124.0,-16.2031,88,0,13,국내 업종/테마,KBSTAR,False,False,False