## conda shell로 library 설치

**Requests :: Anaconda Cloud 작은 브라우저로 웹사이트를 읽어오는 목적**

* `conda install -c anaconda requests`

**Beautifulsoup4 :: Anaconda Cloud 읽어온 웹 사이트를 해석하는 목적**

* `conda install -c anaconda beautifulsoup4`

**Tqdm :: Anaconda Cloud 여러 페이지를 읽어올 때 진행 상태를 확인하는 목적**

* `conda install -c conda-forge tqdm`

In [ ]:
import pandas as pd

## 일별 시세 가져오기

In [ ]:
# 삼성전자 url
url = "https://finance.naver.com/item/sise_day.naver?code=005930&page=1"

In [ ]:
# read_html 함수는 table 테그만 불러올 수 있다.
table = pd.read_html(url, encoding="cp949") # error

* [Beautiful Soup Documentation — Beautiful Soup 4.9.0 documentation](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)

In [12]:
# requests 
import requests
from bs4 import BeautifulSoup as bs

headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.54 Safari/537.36'}
           
response = requests.get(url, headers=headers)
html = bs(response.text, "lxml")
table = html.select("table")
len(table)

2

In [21]:
temp = pd.read_html(str(table))[0]
temp

            날짜       종가     전일비       시가       고가       저가         거래량
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2021.10.29  69800.0   900.0  71200.0  71600.0  69700.0  16497812.0
2   2021.10.28  70700.0   600.0  69500.0  72200.0  69500.0  20644902.0
3   2021.10.27  70100.0  1000.0  71000.0  71000.0  70000.0  10295316.0
4   2021.10.26  71100.0   900.0  70600.0  71500.0  70400.0  10528252.0
5   2021.10.25  70200.0   200.0  69900.0  70600.0  69500.0  10029621.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2021.10.22  70400.0   200.0  70000.0  70700.0  70000.0   8395448.0
10  2021.10.21  70200.0   100.0  70300.0  70600.0  70000.0  10891094.0
11  2021.10.20  70300.0   300.0  70700.0  71000.0  70200.0  10151638.0
12  2021.10.19  70600.0   400.0  70800.0  71000.0  70400.0   9507991.0
13  2021.10.18  70200.0   100.0  70200.0  70300.0  69200.0  13486391.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

In [23]:
temp = temp.dropna()
temp

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.10.29  69800.0   900.0  71200.0  71600.0  69700.0  16497812.0
2   2021.10.28  70700.0   600.0  69500.0  72200.0  69500.0  20644902.0
3   2021.10.27  70100.0  1000.0  71000.0  71000.0  70000.0  10295316.0
4   2021.10.26  71100.0   900.0  70600.0  71500.0  70400.0  10528252.0
5   2021.10.25  70200.0   200.0  69900.0  70600.0  69500.0  10029621.0
9   2021.10.22  70400.0   200.0  70000.0  70700.0  70000.0   8395448.0
10  2021.10.21  70200.0   100.0  70300.0  70600.0  70000.0  10891094.0
11  2021.10.20  70300.0   300.0  70700.0  71000.0  70200.0  10151638.0
12  2021.10.19  70600.0   400.0  70800.0  71000.0  70400.0   9507991.0
13  2021.10.18  70200.0   100.0  70200.0  70300.0  69200.0  13486391.0

## 데이터 수집 함수

In [24]:
item_code = "326030"
item_name = "SK바이오팜"
page_no = 1

url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
url

'https://finance.naver.com/item/sise_day.naver?code=326030&page=1'

In [105]:
def get_day_list(item_code, page_no):
    
    url = url = f"https://finance.naver.com/item/sise_day.naver?code={item_code}&page={page_no}"
    
    headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.54 Safari/537.36'}
    
    response = requests.get(url, headers=headers)
    html = bs(response.text, "lxml")
    table = html.select("table")
    temp = pd.read_html(str(table))
    temp = temp[0].dropna()
    
    return temp

get_day_list(item_code, 2)

            날짜        종가     전일비        시가        고가        저가       거래량
1   2021.10.15  102000.0   500.0  102500.0  103000.0  101000.0  102576.0
2   2021.10.14  102500.0  2000.0  101000.0  102500.0  100000.0  124511.0
3   2021.10.13  100500.0     0.0  100500.0  103000.0  100000.0  117404.0
4   2021.10.12  100500.0   500.0  101000.0  101000.0   98300.0  141355.0
5   2021.10.08  100000.0  2700.0   97300.0  101500.0   95600.0  244101.0
9   2021.10.07   97300.0  5900.0   91600.0   98800.0   91600.0  292791.0
10  2021.10.06   91400.0  5000.0   96300.0   97400.0   91400.0  442287.0
11  2021.10.05   96400.0  4600.0  100000.0  100500.0   96100.0  363173.0
12  2021.10.01  101000.0  1000.0  102000.0  102500.0  100000.0  200990.0
13  2021.09.30  102000.0     0.0  101500.0  103500.0  101000.0  233153.0

In [83]:
import time

item_list = []
page_no = 1

while True:
    print(page_no)
    temp = get_day_list(item_code, page_no)
    item_list.append(temp)
    
    page_no += 1
    time.sleep(0.1)
    
    if page_no > 10:
        break

1
2
3
4
5
6
7
8
9
10

In [84]:
df = pd.concat(item_list)
df.head()

           날짜        종가     전일비        시가        고가       저가       거래량
1  2021.10.29   94600.0  2400.0   97500.0   97500.0  94500.0  207990.0
2  2021.10.28   97000.0  2100.0   99300.0   99300.0  97000.0  166833.0
3  2021.10.27   99100.0  1400.0  100500.0  101000.0  98700.0  112457.0
4  2021.10.26  100500.0  3500.0   96200.0  100500.0  96200.0  167296.0
5  2021.10.25   97000.0  1000.0   97500.0   99500.0  95800.0  167583.0

In [85]:
df["종목코드"] = item_code
df["종목명"] = item_name
df

,날짜,종가,전일비,시가,고가,저가,거래량,종목코드,종목명
1,2021.10.29,94600.0,2400.0,97500.0,97500.0,94500.0,207990.0,326030,SK바이오팜
2,2021.10.28,97000.0,2100.0,99300.0,99300.0,97000.0,166833.0,326030,SK바이오팜
3,2021.10.27,99100.0,1400.0,100500.0,101000.0,98700.0,112457.0,326030,SK바이오팜
4,2021.10.26,100500.0,3500.0,96200.0,100500.0,96200.0,167296.0,326030,SK바이오팜
5,2021.10.25,97000.0,1000.0,97500.0,99500.0,95800.0,167583.0,326030,SK바이오팜
...,...,...,...,...,...,...,...,...,...
9,2021.06.10,121000.0,2000.0,118000.0,122000.0,117500.0,721843.0,326030,SK바이오팜
10,2021.06.09,119000.0,1000.0,120500.0,121000.0,116500.0,562473.0,326030,SK바이오팜
11,2021.06.08,120000.0,6000.0,114500.0,120500.0,114000.0,1184944.0,326030,SK바이오팜
12,2021.06.07,114000.0,500.0,114000.0,114500.0,112500.0,194269.0,326030,SK바이오팜
13,2021.06.04,113500.0,500.0,112500.0,113500.0,111500.0,201488.0,326030,SK바이오팜

   ## 컬럼 순서 변경

In [86]:
df.columns

Index(['날짜', '종가', '전일비', '시가', '고가', '저가', '거래량', '종목코드', '종목명'], dtype='object')

In [87]:
cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
df = df[cols]

## 중복 데이터 제거

In [88]:
df.drop_duplicates()

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,326030,SK바이오팜,2021.10.29,94600.0,2400.0,97500.0,97500.0,94500.0,207990.0
2,326030,SK바이오팜,2021.10.28,97000.0,2100.0,99300.0,99300.0,97000.0,166833.0
3,326030,SK바이오팜,2021.10.27,99100.0,1400.0,100500.0,101000.0,98700.0,112457.0
4,326030,SK바이오팜,2021.10.26,100500.0,3500.0,96200.0,100500.0,96200.0,167296.0
5,326030,SK바이오팜,2021.10.25,97000.0,1000.0,97500.0,99500.0,95800.0,167583.0
...,...,...,...,...,...,...,...,...,...
9,326030,SK바이오팜,2021.06.10,121000.0,2000.0,118000.0,122000.0,117500.0,721843.0
10,326030,SK바이오팜,2021.06.09,119000.0,1000.0,120500.0,121000.0,116500.0,562473.0
11,326030,SK바이오팜,2021.06.08,120000.0,6000.0,114500.0,120500.0,114000.0,1184944.0
12,326030,SK바이오팜,2021.06.07,114000.0,500.0,114000.0,114500.0,112500.0,194269.0
13,326030,SK바이오팜,2021.06.04,113500.0,500.0,112500.0,113500.0,111500.0,201488.0

In [93]:
date = df.iloc[0]["날짜"]
date

'2021.10.29'

In [94]:
file_name = f"{item_name}_{item_code}_{date}.csv"
file_name

'SK바이오팜_326030_2021.10.29.csv'

In [97]:
df.to_csv(file_name, index=False)

In [98]:
pd.read_csv(file_name)

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
0,326030,SK바이오팜,2021.10.29,94600.0,2400.0,97500.0,97500.0,94500.0,207990.0
1,326030,SK바이오팜,2021.10.28,97000.0,2100.0,99300.0,99300.0,97000.0,166833.0
2,326030,SK바이오팜,2021.10.27,99100.0,1400.0,100500.0,101000.0,98700.0,112457.0
3,326030,SK바이오팜,2021.10.26,100500.0,3500.0,96200.0,100500.0,96200.0,167296.0
4,326030,SK바이오팜,2021.10.25,97000.0,1000.0,97500.0,99500.0,95800.0,167583.0
...,...,...,...,...,...,...,...,...,...
95,326030,SK바이오팜,2021.06.10,121000.0,2000.0,118000.0,122000.0,117500.0,721843.0
96,326030,SK바이오팜,2021.06.09,119000.0,1000.0,120500.0,121000.0,116500.0,562473.0
97,326030,SK바이오팜,2021.06.08,120000.0,6000.0,114500.0,120500.0,114000.0,1184944.0
98,326030,SK바이오팜,2021.06.07,114000.0,500.0,114000.0,114500.0,112500.0,194269.0
99,326030,SK바이오팜,2021.06.04,113500.0,500.0,112500.0,113500.0,111500.0,201488.0

## 전체 과정

In [106]:
def get_item_list(item_code, page_no):
    item_list = []
    page_no = 1

    while True:
        print(page_no)
        temp = get_day_list(item_code, page_no)
        item_list.append(temp)

        page_no += 1
        time.sleep(0.1)

        if page_no > 10:
            break
            
    df = pd.concat(item_list)
    df["종목코드"] = item_code
    df["종목명"] = item_name
    cols = ['종목코드', '종목명', '날짜', '종가', '전일비', '시가', '고가', '저가', '거래량']
    df = df[cols]
    
    return df

In [109]:
item_code = "352820"
item_name = "하이브"

get_item_list(item_code, item_name)

1
2
3
4
5
6
7
8
9
10

,종목코드,종목명,날짜,종가,전일비,시가,고가,저가,거래량
1,352820,하이브,2021.10.29,335000.0,1500.0,337500.0,342000.0,330500.0,245884.0
2,352820,하이브,2021.10.28,333500.0,15000.0,346000.0,349000.0,330500.0,454192.0
3,352820,하이브,2021.10.27,348500.0,6500.0,343000.0,349500.0,337000.0,429359.0
4,352820,하이브,2021.10.26,342000.0,16000.0,328000.0,347000.0,325500.0,716852.0
5,352820,하이브,2021.10.25,326000.0,1000.0,324500.0,329500.0,319000.0,248602.0
...,...,...,...,...,...,...,...,...,...
9,352820,하이브,2021.06.10,272500.0,10500.0,262000.0,279000.0,261500.0,946188.0
10,352820,하이브,2021.06.09,262000.0,3000.0,265000.0,265000.0,261000.0,166528.0
11,352820,하이브,2021.06.08,265000.0,500.0,265000.0,267000.0,263500.0,153360.0
12,352820,하이브,2021.06.07,265500.0,500.0,267000.0,268000.0,261000.0,153686.0
13,352820,하이브,2021.06.04,266000.0,3500.0,268500.0,269000.0,260000.0,284503.0

In [111]:
get_item_list